body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #abadc6;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #d69252;
    color: white;
    text-align: center;
    padding: 1rem;
}