@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mina:wght@400;700&family=Monomaniac+One&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mina:wght@400;700&family=Monomaniac+One&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Style+Script&display=swap');

/* gradient to make things feel like unicorns */
.unicorn-gradient {
    /* background: linear-gradient(153deg, rgba(216,180,226,1) 0%, rgba(253,251,253,1) 40%, rgba(254,253,254,1) 68%, rgba(168,218,220,1) 100%); */
    background: rgb(216,180,226);
    background: linear-gradient(108deg, rgba(216,180,226,1) 8%, rgba(4,24,52,1) 39%);
}
/* gradient to make things shine like metal */
.bronze-gradient {
    background: linear-gradient(153deg, rgba(93,62,31,1) 0%, rgba(199,147,96,1) 40%, rgba(224,189,154,1) 64%, rgba(99,62,25,1) 100%);
}

/* smooth scroll to page */
html {
    scroll-behavior: smooth; 
  }

  body {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(108deg, rgba(216,180,226,1) 8%, rgba(4,24,52,1) 39%);
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 555;
}

/**
 * Styles for fonts
 */

h1 {
    font-family: "Great Vibes", cursive; 
    font-size: 80px;
    /* background: linear-gradient(153deg, rgba(93,62,31,1) 0%, rgba(199,147,96,1) 40%, rgba(224,189,154,1) 64%, rgba(99,62,25,1) 100%);
    -webkit-background-clip: text;
    color: transparent; */
    text-align: center;
    margin: 20px;
    -webkit-text-stroke: 0,8px black;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: "Mina", sans-serif;
    color: rgba(255, 255, 255, 0.9);;
    font-size: 42px;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.bronze {
    font-family: "Great Vibes", cursive; 
    font-size: 52px;
    text-align: center;
    margin: 28px;
}



h3 {
    font-family: "Mina", sans-serif;
    color: #1C4D63;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.sizeup {
    font-size: 32px;
    margin: 0;
}

.rosegold {
    font-family: "Great Vibes", cursive; 
    font-size: 80px;
    line-height: 1.1;
    background: linear-gradient(153deg, rgba(93,62,31,1) 0%, rgba(199,147,96,1) 40%, rgba(224,189,154,1) 64%, rgba(99,62,25,1) 100%);
    text-align: center;
    margin: 20px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

.rosegold:hover {
  filter: brightness(1.3);
}

.white {
    color: rgba(255, 255, 255, 0.9);;
}




/**
 * Styles for header
 */
.header {
    width: auto;
    text-align: center;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-box {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

/* nav behavior */
nav a {
    color: #fafafa;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: rgba(216,180,226,1);
}



main {
    width: 100%;  
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.to-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sectionbox {
    width: auto;
    max-width: 1050px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: auto; */
}

.project {
    width: auto;
    padding: 10px;
    max-width: 1100px;
}

.work { 
    gap: 30px;
    padding: 20px;
}
/**
 * Styles for projects
 */

/* own project box to every project */
.project-box {
    width: 450px;   
    padding: 20px;
    border: 5px solid rgb(182, 154, 154);
    /* background: white; */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: -3px 10px 86px -47px rgba(163,80,163,0.74);
}

.popup {
    border: red solid 5px;
}


.wide {
    width: 750px;
}

.height {
    height: 770px;
}

.low {
    height: 450px;
}

.wrap {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center; 
}

.project-picture {
    width: 200px; 
    height: 250px;
    border: 1px solid black;
    margin: 10px;
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 70%;
    width: 70%;
}

video {
    height: 250px;
    width: 200px;
}

/**
 * Styles for footer
 */
footer {
    color: white;
    text-align: center;
    padding-bottom: 25px;
    width: 100vw;
}



/**
 * Styles for mobile device
 */

/* Styles to mobile device, screen max 767px */
@media (max-width: 767px) {
    main {
        width: 90vw;
        gap: 20px;
    }


    h1 {
        font-size: 50px;
        margin: 10px;
    }

    h2 {
        font-size: 28px;
        margin: 10px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
        margin: 10px;
    }

    .header-box {
        padding-top: 10px;
        align-items: center;
        width: 100%;
    }
    #sofia {
        width: 250px;
        height: 250px;
        margin-top: 0px;
    }

    .container {
        display: block;
        text-align: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .to-row {
        display: flex;
        flex-direction: column;
    }

    .header-box {
        width: 90%;
    }

    .sectionbox {
        max-width: 550px;
        padding: 15px;
    }

    .project-box {
        width: 260px;
        align-items: center;
    }

    dialog {
        width: 80%;
        height: 80%;
    }

    .low {
        height: auto;
    }

    .wrap {
        width: 100%;
        max-width: 510px;
        align-items: center;
    }

    .height {
        height: auto;
    }
}

@media (max-width: 1200px) {
    .wrap {
        width: 100%;
        max-width: 1100px;
        align-items: center;
    }

    .height {
        height: auto;
    }

}
